In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('data\kaggle_dataset.csv')

<>:1: SyntaxWarning: invalid escape sequence '\k'
<>:1: SyntaxWarning: invalid escape sequence '\k'
C:\Users\markham\AppData\Local\Temp\ipykernel_3232\122650844.py:1: SyntaxWarning: invalid escape sequence '\k'
  data = pd.read_csv('data\kaggle_dataset.csv')

In [4]:
data

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_78,feature_79,feature_80,feature_81,feature_82,feature_83,feature_84,feature_85,ID,target
0,15000.00,62,1,0,2240.50,70.0000,104.2857,45,52,1.2155,...,0,0,0,2,1,False,60,1,4b40dd0dd9d20f49,0
1,50024.53,61,1,0,496.72,1522.0000,439.1429,1,1,0.0266,...,3,0,0,0,1,False,80,5,c7bbe911fe698fd0,0
2,32770.00,34,0,1,1489.81,186.4286,0.0000,11,11,0.7938,...,2,2,0,1,1,False,90,7,6d9eafd42fe25cce,0
3,82003.32,33,1,0,NaN,NaN,NaN,0,0,NaN,...,5,2,0,1,1,False,80,9,b7d3493315b18413,0
4,11057.77,68,1,0,261.20,7.8571,32.2857,17,22,0.5889,...,3,2,0,1,1,False,85,6,ea64144ab2a596a3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38980,104917.42,39,0,1,999.06,252.1429,0.0000,5,6,0.5034,...,0,0,0,1,1,False,70,4,02c2a16c51d7a772,0
38981,11707.05,56,0,1,292.54,182.5714,0.0000,6,6,0.1711,...,0,0,0,2,1,False,65,2,15052330a546a194,0
38982,42071.57,57,1,0,262.32,60.7143,16.1429,29,32,1.4879,...,0,0,0,2,1,True,50,0,757d9b1b3a88df4f,0
38983,22883.44,35,1,0,73.16,3.2857,542.1429,4,4,0.2154,...,5,5,0,0,1,False,80,8,45424123838d1968,0
38984,13899.75,31,1,0,166.58,9.7143,264.1429,5,6,0.4566,...,5,2,0,1,1,False,80,8,7b262b93a0f6c52d,0